POSTGRES_CONTAINER_NAME_KEYCLOAK=
POSTGRES_DB_NAME_KEYCLOAK=
POSTGRES_USER_KEYCLOAK=
POSTGRES_PASSWORD_KEYCLOAK=
POSTGRES_VOLUME_KEYCLOAK=

RABBITMQ_CONTAINER_NAME=

REDIS_VOLUME=
REDIS_CONTAINER_NAME=

KEYCLOAK_CONTAINER_NAME=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=

PG_ADMIN_CONTAINER_NAME=
PG_ADMIN_DEFAULT_EMAIL=
PG_ADMIN_DEFAULT_PASSWORD=
PG_ADMIN_VOLUME=

POSTGRES_CONTAINER_NAME_AUTH_SERVICE=
POSTGRES_DB_NAME_AUTH_SERVICE=
POSTGRES_USER_AUTH_SERVICE=
POSTGRES_PASSWORD_AUTH_SERVICE=
POSTGRES_VOLUME_AUTH_SERVICE=

POSTGRES_CONTAINER_NAME_NOTIFICATION_SERVICE=
POSTGRES_DB_NAME_NOTIFICATION_SERVICE=
POSTGRES_USER_NOTIFICATION_SERVICE=
POSTGRES_PASSWORD_NOTIFICATION_SERVICE=
POSTGRES_VOLUME_NOTIFICATION_SERVICE=